@media(max-width: 720px){
    header{
        height: 60vh;
    }
    .iconos{
        font-size: 20px;
        width: 30%;
    }
    .nombres h1{ font-size: 1.5rem;} 
    .nombres h2{ font-size: 2rem;}
    .nombres h3{ 
        letter-spacing: 2px;
        font-size: 1rem;
    }
    .boton-imprimir{
        min-width: 40%;
        font-size: .8rem;
     
    }
    /* .barra-menu{
        display: none;
    } */
    .contenedor-opciones-izquierda{
        margin-left: 0;
        width: 50%;
        padding-left: 10px;
    }
    .contenedor-opciones-derecha{
        margin-right: 0;
        width: 50%;
        padding-right: 10px;
    
    }

    .contenedor-imagen-perfil{
        display: none;
    }

    /* -----------secciones----------------------- */

    #sobre-mi{
        margin-top: 0;
    }
    #sobre-mi h4{
        margin-top: 0;
    }
    
    /* #proyectos .tarjeta{
        width: 80%;
        height: 400px;
    } */
    #habilidades .iconos-habilidades{
        font-size: 3rem;
    }
    #contacto .iconos-contacto{
        font-size: 3rem;
        
    }



}