    <!-- CONTACT SECTION -->
    <section class="py-xl relative" id="contact">
      <div class="px-gutter max-w-container-max mx-auto">
        <div class="glass-card rounded-[40px] p-md md:p-xl overflow-hidden relative">
          <div class="absolute top-0 right-0 w-1/3 h-1/3 bg-primary/10 blur-[100px] pointer-events-none"></div>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-lg relative z-10">
            <div class="space-y-md">
              <h2 class="font-display-lg text-4xl md:text-5xl">Construyamos el<br /><span class="text-primary">proximo gran
                  Proyecto.</span></h2>
              <p class="text-on-surface-variant text-lg">Actualmente acepto nuevos proyectos y oportunidades de trabajo y colaboración. 
                Envíame un correo o contáctame a través de mis redes sociales.</p>
            </div>
            <!-- Contact information -->
          
            <div class="space-y-sm p-md md:p-lg">
              <a class="flex items-center gap-md group" href="mailto:denisixcajoc2001@gmail.com">
                <div
                  class="w-12 h-12 rounded-xl bg-white/5 flex items-center justify-center border border-white/10 group-hover:border-primary/50 transition-all">
                  <span class="material-symbols-outlined text-primary">email</span>
                </div>
                <div>
                  <p class="text-xs font-label-caps text-on-surface-variant uppercase">Enviame un correo a:</p>
                  <p class="text-primary font-bold">denisixcajoc2001@gmail.com</p>
                </div>
              </a>
              <div class="flex items-center gap-md group">
                <div class="w-12 h-12 rounded-xl bg-white/5 flex items-center justify-center border border-white/10">
                  <span class="material-symbols-outlined text-primary">location_on</span>
                </div>
                <div>
                  <p class="text-xs font-label-caps text-on-surface-variant uppercase">Ubicame en</p>
                  <p class="text-on-surface font-bold">Guatemala</p>
                </div>
              </div>
              <!-- <div class="pt-lg">
                <p class="text-on-surface-variant text-lg">O contáctame por redes sociales:</p>
              </div> -->
              <!-- redes sociales -->
              <div class="flex items-center justify-center gap-md p-md md:p-lg">
                <a [href]="linkedin" target="_blank">
                  <div class="flex flex-col items-center gap-xs px-md py-sm glass-card rounded-xl">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#b9cacb"
                      stroke-width="1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                      <path d="M8 11l0 5" />
                      <path d="M8 8l0 .01" />
                      <path d="M12 16l0 -5" />
                      <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                    </svg>
                    <p class="text-on-surface-variant text-sm max-w-xl">Linkedin</p>
                  </div>
                </a>
                <a [href]="github" target="_blank">
                  <div class="flex flex-col items-center gap-xs px-md py-sm glass-card rounded-xl">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#b9cacb"
                      stroke-width="1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                    </svg>
  
                    <p class="text-on-surface-variant text-sm max-w-xl">Github</p>
                  </div>
                </a>
                <a [href]="youtube" target="_blank">
                  <div  class="flex flex-col items-center gap-xs px-md py-sm glass-card rounded-xl">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#b9cacb"
                      stroke-width="1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" />
                      <path d="M10 9l5 3l-5 3z" />
                    </svg>
  
                    <p class="text-on-surface-variant text-sm max-w-xl">Youtube</p>
                  </div>
                </a>
              </div>

            </div>
          
          </div>
        </div>
      </div>
    </section>