  <!-- Footer -->
  <footer class="bg-surface-container-lowest w-full py-lg border-t border-white/5 mt-xl">
    <div class="flex flex-col md:flex-row justify-between items-center px-gutter max-w-container-max mx-auto gap-md">
      <div class="flex flex-col items-center md:items-start gap-base">
        <span class="font-label-caps text-label-caps text-on-surface-variant">DEVPORTFOLIO</span>
        <p class="font-body-md text-body-md text-on-surface-variant opacity-60">© {{ currentYear }} Denis Ixcajoc, Senior en progreso. Construido con precisión.</p>
      </div>
      <div class="flex gap-lg items-center">
        <a class="text-on-surface-variant hover:text-primary transition-opacity cursor-pointer" [href]="github" target="_blank">GitHub</a>
        <a class="text-on-surface-variant hover:text-primary transition-opacity cursor-pointer" [href]="linkedin" target="_blank">LinkedIn</a>
        <a class="text-on-surface-variant hover:text-primary transition-opacity cursor-pointer" [href]="youtube" target="_blank">YouTube</a>
      </div>
    </div>
  </footer>