<!-- Project 2: Small -->
<div class="md:col-span-4 md:row-span-1 group relative rounded-3xl overflow-hidden glass-card">
    <div class="absolute inset-0 bg-cover bg-center transition-transform duration-1000 group-hover:scale-110"
        data-alt="A dark-themed developer tool website with an integrated code editor and collaboration features. The interface is filled with technical accents, monospaced fonts, and a sleek sidebar. The lighting focuses on the primary code editor area, which is displaying a colorful syntax-highlighted script, surrounded by a sophisticated glass-like shell."
        style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBzzlBKt4kiarI5kXlA-UWPHA2fP3AAjlYe7_sgRCVDAbdxebGnIoTPqaHnOzbP6j5230nwIioF3R7h1VGVTCX4Jm-yX3RNl1sAz4d2d6xgiy6hIHucUR6y4M48jebMlow2E6r7SNAsxKnLjokXu6oN9ePqPer4e--ccV4wZ9hrLjhJytwZ0K51NcMuZRdf1GYw762dTAvFYKq-0T9J355SgeKmRJeNW_QQ5ZgYV7ZJfZdpTUHH7yjeFyen-v9zRWXQ35XaBS1VVeaj')">
    </div>
    <div class="absolute inset-0 bg-gradient-to-t from-background via-background/10 to-transparent opacity-80">
    </div>
    <div class="absolute bottom-0 left-0 p-md">
            <h3 class="font-bold text-xl">proyecto</h3>
        <span
            class="px-sm py-1 bg-tertiary-container/20 border border-tertiary/30 rounded-full font-label-caps text-[10px] text-primary uppercase mb-xs inline-block">
            {{ proyect?.technologies}}</span>
        <h3 class="font-bold text-xl">{{ proyect?.name }}</h3>
    </div>
</div>

