<!-- HERO SECTION -->
    <section class="relative min-h-screen flex items-center pt-16 overflow-hidden" id="home">

      <div
        class="relative z-10 px-gutter max-w-container-max mx-auto w-full grid grid-cols-1 lg:grid-cols-2 gap-lg items-center">
        <div class="space-y-md">
          <div
            class="inline-flex items-center gap-xs px-sm py-base rounded-full bg-primary/10 border border-primary/20">
            <span class="w-2 h-2 rounded-full bg-primary animate-pulse"></span>
            <span class="font-label-caps text-label-caps text-primary uppercase">Siempre disponible</span>
          </div>
          <!-- <p class="text-on-surface-variant text-lg max-w-xl">
            Hola, soy
          </p> -->
          <h1 class="font-display-lg text-display-lg-mobile md:text-display-lg leading-tight">
            Denis<br /><span class="text-primary text-glow">Ixcajoc</span>
          </h1>
          <p class="text-on-surface-variant text-lg max-w-xl">
            ¡Hola! Soy un desarrollador full-stack especializado en arquitecturas web de alto rendimiento
            y experiencias de usuario inmersivas. Transformo problemas complejos en soluciones elegantes y escalables.
          </p>
          <div class="flex flex-wrap gap-md pt-base">
            <div class="flex flex-col items-center gap-xs px-md py-sm glass-card rounded-xl">
              <!-- <img src="icons_brands/brand-angular.svg" alt="Angular Logo" class="w-7 h-7 text-primary"> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#b9cacb"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M5.428 17.245l6.076 3.471a1 1 0 0 0 .992 0l6.076 -3.471a1 1 0 0 0 .495 -.734l1.323 -9.704a1 1 0 0 0 -.658 -1.078l-7.4 -2.612a1 1 0 0 0 -.665 0l-7.399 2.613a1 1 0 0 0 -.658 1.078l1.323 9.704a1 1 0 0 0 .495 .734z" />
                <path d="M9 15l3 -8l3 8" />
                <path d="M10 13h4" />
              </svg>

              <p class="text-on-surface-variant text-sm max-w-xl">Angular</p>
            </div>
            <div class="flex flex-col items-center gap-xs px-md py-sm glass-card rounded-xl">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#b9cacb"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M9 9v8.044a2 2 0 0 1 -2.996 1.734l-1.568 -.9a3 3 0 0 1 -1.436 -2.561v-6.635a3 3 0 0 1 1.436 -2.56l6 -3.667a3 3 0 0 1 3.128 0l6 3.667a3 3 0 0 1 1.436 2.561v6.634a3 3 0 0 1 -1.436 2.56l-6 3.667a3 3 0 0 1 -3.128 0" />
                <path d="M17 9h-3.5a1.5 1.5 0 0 0 0 3h2a1.5 1.5 0 0 1 0 3h-3.5" />
              </svg>
              <p class="text-on-surface-variant text-sm max-w-xl">Node Js</p>
            </div>
            <div class="flex flex-col items-center justify-center gap-xs px-md py-sm glass-card rounded-xl">
              <p class="text-on-surface-variant text-lg max-w-xl">.NET</p>
            </div>
            <div class="flex flex-col items-center gap-xs px-md py-sm glass-card rounded-xl">
              <!--
              tags: [programming, coding, script, format, file]
              category: Brand
              version: "1.45"
              unicode: "ef72"
              -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#b9cacb"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M12 12m-10 0a10 9 0 1 0 20 0a10 9 0 1 0 -20 0" />
                <path d="M5.5 15l.395 -1.974l.605 -3.026h1.32a1 1 0 0 1 .986 1.164l-.167 1a1 1 0 0 1 -.986 .836h-1.653" />
                <path d="M15.5 15l.395 -1.974l.605 -3.026h1.32a1 1 0 0 1 .986 1.164l-.167 1a1 1 0 0 1 -.986 .836h-1.653" />
                <path d="M12 7.5l-1 5.5" />
                <path d="M11.6 10h2.4l-.5 3" />
              </svg>
              <p class="text-on-surface-variant text-sm max-w-xl">PHP</p>
            </div>
            

          </div>
        </div>
        <div class="relative hidden lg:block">
          <div class="relative w-full aspect-square glass-card rounded-3xl overflow-hidden group">
           
            <div class="bg-hero absolute inset-0 bg-cover bg-center transition-transform duration-700 group-hover:scale-110"
              data-alt="A high-fidelity 3D render of an abstract glass sculpture with internal cyan light pulses. The aesthetic is extremely modern and minimalist, set against a dark oceanic blue background with subtle bokeh particles. The lighting is cold and professional, symbolizing high-end technology and clean software architecture.">
            </div>

            <div class="absolute inset-0 bg-gradient-to-t from-background via-transparent to-transparent opacity-60">
            </div>
          </div>
          <!-- Decorative Element -->
          <div class="absolute -top-10 -right-10 w-40 h-40 border-t-2 border-r-2 border-primary/30 rounded-tr-3xl">
          </div>
          <div class="absolute -bottom-10 -left-10 w-40 h-40 border-b-2 border-l-2 border-primary/30 rounded-bl-3xl">
          </div>
        </div>
      </div>
    </section>